                        * {
                            box-sizing: border-box;
                        }
                        
                        body {
                            background-color: lightgoldenrodyellow;
                        }
                        
                        header {
                            border: 3px solid darkgray;
                            padding: 10px;
                            margin-bottom: 10px;
                            list-style: none;
                        }
                        
                        nav {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            justify-content: space-around
                        }
                        
                        nav li {
                            font-weight: bolder;
                        }
                        
                        main {
                            border: 3px dotted darkgray;
                            padding: 10px;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            /* align-items: center; */
                            /* width: 50%; */
                        }
                        
                        div {
                            border: 3px solid darkblue;
                            border-radius: 10px;
                            padding: 10px;
                            margin: 5px;
                            width: 100%;
                            min-height: 400px;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                        
                        .imagem {
                            width: 300px;
                            max-width: 100%;
                            height: 300px;
                            max-height: 30vh;
                            flex-grow: 1;
                        }
                        
                        div h2 {
                            text-align: center;
                            color: brown;
                            flex-grow: 1;
                        }
                        
                        div h4 {
                            text-align: center;
                            color: crimson;
                            flex-grow: 1;
                        }
                        
                        div a {
                            text-align: center;
                            flex-grow: 1;
                        }
                        
                        div a:hover {
                            background-color: cornflowerblue;
                        }
                        
                        footer {
                            border: 3px dashed darkgray;
                            padding: 20px;
                            margin-top: 10px;
                        }
                        
                        span {
                            background-color: aqua;
                            display: block;
                        }
                        
                        #div1 {
                            background-color: aqua;
                            border: 3px dotted black;
                        }
                        
                        #div2 {
                            background-color: blue;
                            border: 3px double darkgreen;
                        }
                        
                        #div3 {
                            background-color: yellow;
                        }
                        
                        #div4 {
                            background-color: gray;
                        }
                        
                        #div5 {
                            background-color: gray;
                        }
                        
                        #div6 {
                            background-color: gray;
                        }
                        
                        @media(min-width: 540px)and (max-width: 760px) {
                            main {
                                background-color: blue;
                                flex-direction: row;
                            }
                            div {
                                width: 40%;
                                height: 600px;
                                align-self: center;
                                justify-self: center;
                            }
                            .imagem {
                                width: 300px;
                                max-width: 100%;
                                height: 300px;
                                max-height: 30vh;
                                flex-grow: 1;
                            }
                            div h2 {
                                text-align: center;
                                color: brown;
                                flex-grow: 1;
                            }
                            div h4 {
                                text-align: center;
                                color: crimson;
                                flex-grow: 1;
                            }
                            div a {
                                text-align: center;
                                flex-grow: 1;
                            }
                            div a:hover {
                                background-color: cornflowerblue;
                            }
                        }
                        
                        @media(min-width: 761px) {
                            main {
                                background-color: green;
                                flex-direction: row;
                            }
                            div {
                                width: 30%;
                                height: 500px;
                                align-self: center;
                                justify-self: center;
                            }
                            .imagem {
                                width: 400px;
                                max-width: 100%;
                                height: 500px;
                                max-height: 30vh;
                                flex-grow: 1;
                            }
                            div h2 {
                                text-align: center;
                                color: brown;
                                flex-grow: 1;
                            }
                            div h4 {
                                text-align: center;
                                color: crimson;
                                flex-grow: 1;
                            }
                            div a {
                                text-align: center;
                                flex-grow: 1;
                            }
                            div a:hover {
                                background-color: cornflowerblue;
                            }
                        }